/*
    --- Typography:
        -- FONT SIZE SYSTEM (px):
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
        -- Font Wight:
           - Regular: 500
           - Medium : 600
           - Bold : 700
        -- Letter Spacing:
           - -0.5px
           - 1.3px
        -- Line Height:
            - Default: 1            
            - 1.05px
    
    --- Colors:
        -- Color Palete:
            - Primary: #e67e22
            - Accents:
            - Greys:
        -- Tins & Shades
            - Tints: #fdf2e9,#fae5d3, #f8d8bd, #eea564, #e98b38
            - Shades:#170d03, #5c320e, #a15818, #cf711f,  
    --- Shadow:
    --- Border: 
          -- Border Radius: 8px,  12px
    --- White Space:
        -- SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128          

           
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  /* outline: 2px dotted #a15818;
  outline-offset: 3px; */

  box-shadow: 0 0 0 3px #a15818;
}
html {
  /* font-size: 10px; */

  /* 9/16 */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #333;

  overflow-x: hidden;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  justify-items: center;
  row-gap: 6.4rem;
  column-gap: 4.8rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

strong {
  font-weight: 500;
}

.primary-header,
.secundary-header,
.ternary-header {
  line-height: 1.05;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.primary-header {
  font-size: 5.2rem;
  margin-bottom: 2.4rem;
}

.secundary-header {
  font-size: 4.4rem;
  margin-bottom: 1.6rem;
}

.ternary-header {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s;

  border: none;
}

.btn-lg {
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
}

.btn-sm {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
}

.btn-primary {
  background-color: #e67e22;
  color: white;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #cf711f;
}

.btn-secundary {
  background-color: #fdf2e9;
  color: #333;
  background-color: white;
}
.btn-secundary:hover,
.btn-secundary:active {
  /* border: 3px solid white; */
  box-shadow: inset 0 0 0 3px white;
  background-color: #fdf2e9;
}

.mr-sm {
  margin-right: 1.6rem !important;
}

.mt-lg {
  margin-top: 9.6rem;
}

.pb-lg {
  padding-bottom: 9.6rem !important;
}

.pt-lg {
  padding-top: 9.6rem !important;
}

/* .cta *:focus {

} */
