@media (min-width: 75em) {
  .hero-section {
    display: flex;
    justify-content: center;
  }

  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 47%;
  }

  .meals {
    padding-top: 0px !important;
  }
  .mobile-nav {
    display: none;
  }
}

/* Landscape Tablet 944px */
@media (max-width: 59em) {
  .container {
    width: 90%;
  }

  .grid {
    row-gap: 4.8rem;
    column-gap: 3.2rem;
  }

  .testimonials-galery .container.grid {
    align-items: center;
  }

  .meals-body.grid {
    column-gap: 1.8rem;
  }

  .customers {
    gap: 5px;
  }

  .galery {
    row-gap: 1.8rem;
    column-gap: 1.8rem;
  }

  header {
    position: relative;
  }

  .mobile-nav {
    display: block;
  }

  .nav-bar {
    position: fixed;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.93);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;

    /* 1. Opacity: 0  */
    opacity: 0;
    /*  2. Set Mouse and keyboard events to none */
    pointer-events: none;

    /* 3. Hide element from screen reader */
    visibility: hidden;

    /* display: none; */

    z-index: 10;
  }

  .open-nav .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    left: 0%;
  }

  .open-nav button {
    position: fixed;
    right: 4.8rem;
    top: 2.4rem;
    z-index: 99999;
  }

  .open-nav ion-icon[name="close-outline"] {
    display: block;
  }

  .open-nav ion-icon[name="menu-outline"] {
    display: none;
    z-index: 99999;
  }

  .nav-bar .nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    gap: 2.4rem;
  }

  .nav-bar .btn {
    font-size: inherit;
  }
}
/* Portrait Tablet */
@media (max-width: 46em) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 4.8rem;
  }

  .customers {
    justify-content: center;
    margin-top: 3.2rem !important;
  }

  .hero img {
    max-width: 70%;
  }

  .fi-image {
    height: 2.4rem;
  }
}

/* Mobile max-width: 600px */
@media (max-width: 38em) {
  .pb-lg {
    padding-bottom: 8rem !important;
  }

  .pt-lg {
    padding-top: 8rem !important;
  }
  .grid {
    row-gap: 3.2rem;
    align-items: center;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6.4rem;
  }

  .grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .galery.grid-3 {
    row-gap: 1.3rem;
  }

  .img-1 {
    grid-row: 1;
  }
  .img-3 {
    grid-row: 5;
  }

  .stps-content img {
    width: 30%;
  }
  .meals-diet {
    grid-column: 1/ -1;
  }
  .meals-body {
    margin-bottom: 4.8rem;
  }
  .pricing-footer {
    margin: 4.8rem 0rem 0rem 0rem;
  }

  .cta {
    margin-bottom: 8rem;
  }

  .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

/* Mobile max-width: 530px */
@media (max-width: 33em) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .pb-lg {
    padding-bottom: 4.8rem !important;
  }

  .pt-lg {
    padding-top: 4.8rem !important;
  }

  .hero {
    row-gap: 3.2rem;
  }

  .steps-header {
    padding: 4.8rem 0 3.2rem 0;
  }

  .btn {
    margin-bottom: 1.6rem;
  }

  .meals-header {
    margin-bottom: 4.8rem;
  }

  .meals-recipie.first {
    justify-self: unset;
  }

  .feature-in-images {
    justify-content: space-evenly;
  }

  .stps-content img {
    width: 35%;
  }

  .grid--footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav-col {
    grid-row: 1;
  }

  .nav-col:last-child {
    grid-row: 2;
  }

  .fi-image {
    height: 1.3rem;
  }

  .pricing-body,
  .features,
  .customers {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img {
    padding-bottom: 90%;
    grid-row: 1;
  }

  .form form {
    grid-template-columns: 1fr;
  }

  .form label {
    margin-bottom: 0.8rem;
  }

  .address-col {
    grid-row: 2;
  }

  .logo-col {
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
  }
}
